* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.Contact {
  background-color: #d0967c;
  padding: 60px 0;
  font-family: Arial, sans-serif;
}
.Contact .container {
  max-width: 700px;
}
.Contact h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}
.Contact p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px;
}
.Contact .form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 20px;
  width: 100%;
  box-shadow: none;
  transition: border 0.3s ease;
}

.Contact .form-control:focus {
  border-color: #198754; 
  outline: none;
  box-shadow: 0 0 5px rgba(25, 135, 84, 0.3);
}
.Contact .btn1 {
  padding: 12px 40px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  background-color: #198754;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.Contact .btn1:hover {
  background-color: #146c43;
  transform: scale(1.05);
  cursor: pointer;
}


.Contact .text-center {
  text-align: center;
}


.Contact .mb-3 {
  margin-bottom: 20px;
}
